

.divided-screen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  cursor: pointer;
}

.divided {
  flex-direction: row;
}

.divided-screen > p {
  margin: 0;
}


.divided-screen .divided-screen {
  flex: 1;
}
